src/main/app/common_proxy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="Common_HTTP_Listener_Configuration_Proxy" host="localhost" port="${local_port}" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="Comon_HTTP_Request_Configuration_Proxy" doc:name="HTTP Request Configuration" protocol="${remote_protocol}"/>
    <flow name="common_proxy">
        <http:listener config-ref="Common_HTTP_Listener_Configuration_Proxy" path="/*" doc:name="HTTP"/>
        <http:request config-ref="Comon_HTTP_Request_Configuration_Proxy" path="#[&quot;${remote_path}&quot;+message.inboundProperties.'http.request.path']" method="GET" host="${remote_host}" port="${remote_port}" doc:name="HTTP">
            <http:request-builder>
                <http:query-params expression="#[message.inboundProperties.'http.query.params']"/>
                <http:uri-params expression="#[message.inboundProperties.'http.uri.params']"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
